[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    desert
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
exclude_lines =
  pragma: no cover
  abc\.abstractmethod
  typing\.overload
  ^\s*\.\.\.\s*$
  if typing.TYPE_CHECKING:
  if t.TYPE_CHECKING:
  if TYPE_CHECKING:
