name: CI

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    container: docker://altendky/hydra:ubuntu-20.04-3-minors
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        toxenv:
          - py37,report,codecov
          - py38,report,codecov
          - py39,report,codecov
          - pypy3,report,codecov
          - doc
          - check
    steps:
      - uses: actions/checkout@v1
      - name: Install
        run: |
          pip install tox
      - name: Test
        run: |
          tox -v -e "${{ matrix.toxenv }}"
  all:
    name: All
    runs-on: ubuntu-latest
    needs:
      - ci
    steps:
      - name: This
        shell: python
        run: |
          import this
